@keyframes swap {
    from {width: 35vw;}
    to {width: 0vw;}
}

@keyframes swapR {
    from {width: 0vw;}
    to {width: 35vw;}
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', 'Noto Color Emoji', sans-serif;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

section#main {
    position: absolute;
    width: 40vw;
    background-color: #191919;
    border-radius: 0px 10px 10px 0px;
    z-index: 3;
    color: white;
    height: 100vh;
    overflow: auto;
    transition: all 1s ease-out;
}

section > * {
    width: 92%;
    margin-left: 20px;
}

section#content {
    height: 93.5vh;
    position: absolute;
    width: 99%;
    margin-left: -34px;
    margin-top: 74px;
    background-color: #191919;
    border-radius: 20px;
    z-index: 3;
    color: white;
    overflow: auto;
    transition: all 1s ease-out;
    flex-direction: column;
    justify-content: left;
}

section#content > * {
    margin-top: 25px;
}

header > * {
    height: 64px;
    border-radius: 10px;
    margin-left: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > a > div {
    width: 64px;
    height: 64px;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > a > div > .material-symbols-rounded {color: white;}

.name {
    padding: 15px;
    color: white;
    background-color: #191919;
    min-width: 15vw;
}

.train {
    background-color: #202020;
    display: flex;
    width: 90%;
    margin: 0;
    border-radius: 10px;
}

.train > * {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.train > * > h2 {
    font-size: 20px;
}

.special, .dead {
    border-left: 3px solid #191919;
}

.texts {margin-left: 10px;}

#title {
    font-size: 18px;
}

#date {
    font-size: 15px;
}

#text {
    width: 90%;
    background-color: #202020;
    margin-left: 0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 89%;
}

header {
    height: 64px;
    margin-left: 42px;
    margin-top: 10px;
    display: flex;
    z-index: 3;
}

.two {position: absolute;}

.heading {
    margin-top: 50px;
    margin-bottom: 10px;
}

h1 {
    position: sticky;
    font-size: 32px;
}

h2 {font-size: 15px;}

h3 {font-size: 12px;}

h4 {font-size: 7px;}

p {font-size: 10px; min-height: 30px;}


.item {
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #252525;
}

.item > div {
    display: flex;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 2%;
    min-height: 30px;
    min-width: 116px;
}

.critical {background-color: #fe410220; color: #fe4102;}
.severe {background-color: #FF845B20; color: #FF845B;}

.item > div > * {
    padding: 5px;
    top: 50%;
}

p {margin-top: 10px;}

.itemTitle {margin-top: 5px;}

.folium-map {
    z-index: 1;
}

#sidebar {
    z-index: 2;
}

#classification {
    padding: 10px;
    min-width: 5vw;
}

@media screen
  and (max-device-width: 765px)
  and (orientation: portrait){
    @keyframes swap {
        from {height: 40vh;}
        to {height: 0vh;}
    }

    section {
        width: 100vw;
        bottom: 0;
        margin-bottom: 0vh;
        margin-top: auto;
        height: 40vh;
        resize: vertical;
        margin-left: 0;
        margin-top: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .item {padding: 15px;}

    h1 {
        position: sticky;
        font-size: 24px;
    }

    h2 {font-size: 12px;}
    h4 {margin-bottom: 3px;}
    p {display: none;}

    .heading {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1090px) and (min-width: 765px)
  {
    .item > div {
        position: static;
        right: 0;
    }
}