<!DOCTYPE html>
<html lang="">
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9ccddcfa89fb53fc0d124422b3893777 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }.leaflet-container { font-size: 1rem; }
            </style>
    <title></title>

</head>
<body>
    
    
            <div class="folium-map" id="map_9ccddcfa89fb53fc0d124422b3893777" ></div>
        
</body>
<script>
    
    
            var map_9ccddcfa89fb53fc0d124422b3893777 = L.map(
                "map_9ccddcfa89fb53fc0d124422b3893777",
                {
                    center: [51.7678, -0.00675564],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6236eacfed2bba6ef9244b112c22b29d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_6236eacfed2bba6ef9244b112c22b29d.addTo(map_9ccddcfa89fb53fc0d124422b3893777);
        
    function onClick(e) {
                 var point = e.latlng; alert(String(point).concat('words i added'))
                 }
    
            tile_layer_6236eacfed2bba6ef9244b112c22b29d.addTo(map_9ccddcfa89fb53fc0d124422b3893777);
        
    
    var marker_dc39b297cfecbf0268e0a71ce9095439 = L.marker(
        [51.7678, -0.00675564],
        {}
    ).addTo(map_9ccddcfa89fb53fc0d124422b3893777).on('click', onClick);
    
    var marker_8ecc050f9c7189f031cd3d5943f86c5c = L.marker(
        [45.3288, -121.6625],
        {}
    ).addTo(map_9ccddcfa89fb53fc0d124422b3893777).on('click', onClick);
    
            var icon_d5c857b0eaa3792f464894d7cd3f546f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8ecc050f9c7189f031cd3d5943f86c5c.setIcon(icon_d5c857b0eaa3792f464894d7cd3f546f);
        
    
        var popup_1afb170a2517c5166e726afbff690b8c = L.popup({"maxWidth": "100%"});

        
            
                var html_0bacec15ef49e8dfdc82ab5843607c5a = $(`<div id="html_0bacec15ef49e8dfdc82ab5843607c5a" style="width: 100.0%; height: 100.0%;">Mt. Hood Meadows</div>`)[0];
                popup_1afb170a2517c5166e726afbff690b8c.setContent(html_0bacec15ef49e8dfdc82ab5843607c5a);
            
        

        marker_8ecc050f9c7189f031cd3d5943f86c5c.bindPopup(popup_1afb170a2517c5166e726afbff690b8c)
        ;

        
    
    
            marker_8ecc050f9c7189f031cd3d5943f86c5c.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
    var marker_70e28ee65de73a8f4f0bbffebde07782 = L.marker(
        [45.3311, -121.7113],
        {}
    ).addTo(map_9ccddcfa89fb53fc0d124422b3893777).on('click', onClick);
    
            var icon_59e3bffbb2e8f0805b438beadfa071a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_70e28ee65de73a8f4f0bbffebde07782.setIcon(icon_59e3bffbb2e8f0805b438beadfa071a5);
        
    
        var popup_c34140a02a7f56d148c6b4507f62a2b7 = L.popup({"maxWidth": "100%"});

        
            
                var html_19948ef59505b1952084d0cc61aef5e2 = $(`<div id="html_19948ef59505b1952084d0cc61aef5e2" style="width: 100.0%; height: 100.0%;">Timberline Lodge</div>`)[0];
                popup_c34140a02a7f56d148c6b4507f62a2b7.setContent(html_19948ef59505b1952084d0cc61aef5e2);
            
        

        marker_70e28ee65de73a8f4f0bbffebde07782.bindPopup(popup_c34140a02a7f56d148c6b4507f62a2b7)
        ;

        
    
    
            marker_70e28ee65de73a8f4f0bbffebde07782.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>
oh right
</html>