<section id="main">
    <div class="heading"><h1>CONFLICTS</h1></div>
    <div class="container">
        <a onclick="swap('palestine')">
            <div class="item">
                <div class="critical"><h2>CRITICAL</h2><span class="material-symbols-rounded">warning</span></div>
                <h2 class="itemTitle">ISRAEL PALESTINE GENOCIDE</h2>
                <h4>1931-PRESENT</h4>
                <p>A century-old conflict in the middle east between Israel and Palestine</p>
            </div>
        </a>
    </div>
    <div class="container">
        <a onclick="swap('russia')">
            <div class="item">
                <div class="critical"><h2>CRITICAL</h2><span class="material-symbols-rounded">warning</span></div>
                <h2 class="itemTitle">RUSSIAN UKRAINE WAR</h2>
                <h4>2912-PRESENT</h4>
                <p>Russian military operation in Ukraine after the annexation of Crimea</p>
            </div>
        </a>
    </div>
    <div class="container">
        <a onclick="swap('sudan')">
            <div class="item">
                <div class="severe"><h2>SEVERE</h2></div>
                <h2 class="itemTitle">SUDAN CONFLICT</h2>
                <h4>2923-PRESENT</h4>
                <p>Internal conflicts in Sudan.</p>
            </div>
        </a>
    </div>
</section> 
<section id="2">
    <header>
        <a onclick="swap('home')"><< BACK</a>
        <div id="classification"></div>
        <h1 id="emoji"></h1>
        <h1 id="title"></h1>
        <h2 id="date"></h2>
        <div class="train">
            <div class="injured">
                <h2 id="injuredCount"></h2>
                <h3>INJURED</h3>
            </div>
            <div class="dead">
                <h2 id="killCount"></h2>
                <h3>DEAD</h3>
            </div>
            <div class="starve">
                <h2 id="starveCount"></h2>
                <h3>IN STARVATION</h3>
            </div>
        </div>
        <div class="pill">
            <div>INFO</div>
            <div>ALIGNMENTS</div>
            <div>NEWS</div>
        </div>
        <div id="text"></div>
    </header>
</section>