<section>
    <div class="heading"><h1>CONFLICTS</h1></div>
    <div class="container">
        <a onclick="swap('palestine')">
            <div class="item">
                <div><h2>CRITICAL</h2><span class="material-symbols-rounded">warning</span></div>
                <h2 class="itemTitle">ISRAEL PALESTINE GENOCIDE</h2>
                <h4>1931-PRESENT</h4>
                <p>A century-old conflict in the middle east between Israel and Palestine</p>
            </div>
        </a>
    </div>
</section> 