body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', sans-serif;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_20653af883cbdb176f3344fcfcb3aaf9 {
    position: absolute;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}

.leaflet-container {
    font-size: 1rem;
}

section {
    position: absolute;
    width: 35vw;
    margin-left: 2vw;
    margin-top: 1.5vh;
    background-color: #191919;
    border-radius: 20px;
    z-index: 2;
    color: white;
    height: 97vh;
    resize: horizontal;
    overflow: auto;
}

section > * {
    width: 92%;
    margin-left: 20px;
}

.heading {
    margin-top: 50px;
    margin-bottom: 10px;
}

h1 {
    position: sticky;
    font-size: 32px;
}

h2 {font-size: 15px;}

h4 {font-size: 7px;}

p {font-size: 10px; min-height: 30px;}


.item {
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #252525;
}

.item > div {
    display: flex;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 2%;
    min-height: 30px;
    min-width: 116px;
}

.critical {background-color: #fe410220; color: #fe4102;}
.severe {background-color: #FF845B20; color: #FF845B;}

.item > div > * {
    padding: 5px;
    top: 50%;
}

p {margin-top: 10px;}

.itemTitle {margin-top: 5px;}

.folium-map {
    z-index: 1;
}
link {
    z-index: 2;
}

@media screen
  and (max-device-width: 765px)
  and (orientation: portrait){
    section {
        width: 100vw;
        bottom: 0;
        margin-bottom: 0vh;
        margin-top: auto;
        height: 30vh;
        resize: vertical;
        margin-left: 0;
        margin-top: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h1 {
        position: sticky;
        font-size: 24px;
    }

    .heading {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1090px) and (min-width: 765px)
  {
    .item > div {
        position: static;
        right: 0;
    }
}